<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="org.dosomething.rbreviewer"
android:versionCode="1"
android:versionName="1.0" >

<uses-sdk
android:minSdkVersion="8"
android:targetSdkVersion="21" />

<application
android:allowBackup="true"
android:icon="@drawable/ic_launcher"
android:label="@string/app_name"
android:theme="@style/AppTheme" >

<activity
android:name=".Splash"
android:label="@string/app_name" >
<intent-filter>
<action android:name="android.intent.action.MAIN" />

<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity android:name=".Cp1"></activity> 
<activity android:name=".Cp10"></activity> 
<activity android:name=".Cp2"></activity> 
<activity android:name=".Cp3"></activity> 
<activity android:name=".Cp4"></activity> 
<activity android:name=".Cp5"></activity> 
<activity android:name=".Cp6"></activity> 
<activity android:name=".Cp7"></activity> 
<activity android:name=".Cp8"></activity> 
<activity android:name=".Cp9"></activity> 
<activity android:name=".Login"></activity> 
<activity android:name=".Main"></activity>
</application>
</manifest>
